<form action="/auth/login" method="POST">
  <div>
    <label for="username">Nome de usuário</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Senha</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
    <p class="account-message">
    Não tem um cadastro?
    <a href="/auth/signup">Cadastre-se</a>
  </p>
</form>