# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# MAC useless file
.DS_Store

# Other files
logo
cloudinary.js
vegspot.odt
package-lock.json
places.json