/* colors
https://colorhunt.co/palette/116554
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 50%;
  width: 50%;
}

.login {
  text-align: end;
  font-size: 1.7em;
  padding-bottom: 10px;
}

.dark-blue {
  background: #163a5f;
}

.light-blue {
  background: #21aba5;
}

.blue {
  background: #1d566e;
}

.light-green {
  background: #45eba5;
}

.brand {
  font-size: 1.5em;
  font-family: 'Gayathri', sans-serif;
}

.container {
  width: 50%;
  margin: 30px auto;
}

#govegan {
  padding: 30px;
}