<div id="govegan" class="light-blue row d-flex justify-content-center">
  <div class="col-9 text-center text-white">
    <h1>Ser veggie nunca foi tão fácil!<br><br>
Encontre ou cadastre lugares veganos, vegetarianos ou vegan-friendly.</h1>
  </div>
</div>
<div id="spots" class="">
  <div id="rating-spots">
    
  </div>
  <div id="near-spots">

  </div>
  <div id="new-spots">

  </div>
</div>

  <script src="/javascripts/index.js"></script>