<section id="govegan" class="light-blue row d-flex justify-content-center py-5">
  <div class="col-9 text-center text-white">
    <h1>Ser veggie nunca foi tão fácil!<br><br>
Encontre ou cadastre lugares veganos, vegetarianos ou vegan-friendly.</h1>
  </div>
</section>
<section id="spots" class="">
  <div id="near-spots">
<select name="maxDistance" id="nearRange"> 
  <option selected> 1 </option> 
  <option> 1000 </option> 
  <option> 3000 </option> 
  <option> 5000 </option> 
  <option> 10000 </option> 
</select> 
<div id="nearPlacesMessage"></div>
    <div id="map"></div>

  </div>
  <div id="rating-spots">
    
  </div>

  <div id="new-spots">

  </div>
</div>

  <script src="/javascripts/index.js"></script>
