<section id="govegan" class="light-blue row d-flex justify-content-center py-5">
  <div class="col-9 text-center text-white">
    <h1>Ser veggie nunca foi tão fácil!<br><br>
Encontre ou cadastre lugares veganos, vegetarianos ou vegan-friendly.</h1>
  </div>
</section>
<section id="spots" class="">
  <div id="near-spots">
    <input type="text" id="changeLocation">
    <select name="maxDistance" id="nearRange">  
      <option selected> 1 km </option> 
      <option> 5 km </option> 
      <option> 10 km </option>  
    </select> 
    <button id="changeLocationButton">Procure em outra regiao</button>
    <div id="nearPlacesMessage"></div>
    <ul id="nearSpotList"></ul>
    <div id="map"></div>

  </div>
  <div id="rating-spots">
    <h2>Mais bem avaliados</h2>
    <div class="order-1 order-md-0 spots-cards col-10 col-md-5 d-flex flex-wrap m-3">
    {{#each spot.rating}}
      <div class="spot col-12 col-md-6 my-3">
        {{> spotPartial this}}
      </div>
    {{/each}}
    </div>
  </div>

  <div id="new-spots">
    <h2>Novos Lugares</h2>
    <div class="order-1 order-md-0 spots-cards col-10 col-md-5 d-flex flex-wrap m-3">
    {{#each spot.lastEntries}}
      <div class="spot col-12 col-md-6 my-3">
        {{> spotPartial this}}
      </div>
    {{/each}}
    </div>
  </div>

</section>

  <script src="/javascripts/index.js"></script>
