<h1>Caiu aqui</h1>
<h2>ola</h2>

<form>
  <input type="text" name="address" placeholder="endereço" id='address'>

  <button id = 'button'>submit</button>
</form>
<div id='formatted-address'>

</div>

<button></button>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <div id="map"></div>