<h3>Encontramos {{spots.length}} lugares</h3>
<br>
<div class="d-flex flex-wrap justify-content-around">
  <div class="order-1 order-md-0 spots-cards col-10 col-md-5 d-flex flex-wrap">
    {{#each spots}}
    <div class="spot col-12 col-md-6">
      {{> spotPartial this}}
    </div>
    {{/each}}
  </div>
  <div id="map" class="order-0 order-md-1 col-10 col-md-5"></div>
</div>
<div class="blue add-spot">
  <h3 class="text-white">Não encontrou o lugar procurado?<br>
  Que tal cadastrá-lo? <a href="/spot/add" class="text-white">Clique aqui!</a>
  </h3>
</div>

{{!-- <form>
  <input type="text" name="address" placeholder="endereço" id='address'>

  <button id='button'>submit</button>
</form>
<div id='formatted-address'>

</div>

<button></button> --}}